
/* ================= GLOBAL STYLES ================= */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    display: flex;
    flex-direction: column;
}

/* ================= HERO SECTION ================= */
.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 95vh;  
    background-image: url("../assets/hero-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 50px ;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

/* ---------- Navbar ---------- */
.navbar {
    height: 50px;
    min-width: 98%;
    background-color: white;
    display: flex;
    border-radius: 18px;
    margin-top: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 980px;
    font-weight: 450;
    color: #415C28;
    
}

.nav-logo {
    margin-top: 3%;
    margin-left: 3%;
}

.nav-li {
    list-style: none;
    display: flex;
    gap: 6%;
    font-size: 18px;
}

/* ---------- Hero Content ---------- */
.hero-und {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    min-width: 100%;
}

/* Hero Left */
.hero-left {
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: 600;
    margin-left: 100px;
    margin-top: 50px;
    color: white;
}

.more {
    color: #415C28;
    margin-right: 270px;
}

.hero-buttons {
    display: flex;
    margin-top: 50px;
    gap: 20px;
    margin-right: 135px;
}

.learn-but {
    width: 120px;
    height: 47px;
    background-color: #415C28;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 16px;
    border: none;
}

.contact-but {
    width: 120px;
    height: 47px;
    border-color: #415C28;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    color: #415C28;
    font-size: 14px;
    font-weight: 600;
    border-radius: 16px;
}

/* Hero Right */
.hero-right {
    display: flex;
    min-height: 100%;
    width: 50%;
    gap: 20px;
    align-items: center;
}

/* Long Box */
.long-box {
    height: 448px;
    width: 330px;
    border-radius: 32px;
    background-color: rgba(65, 92, 40, 0.4);
}

.long-box-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.long-logo {}

.num1 {
    font-size: 32px;
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
    color: white;
}

.long-para {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 32px;
    display: flex;
    flex-direction: row;
    color: white;
    font-display: fallback;
}

/* Two Boxes (Right Side) */
.two-boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Top Box */
.top-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 194px;
    background-color: rgba(65, 92, 40, 0.4);
    border-radius: 32px;
}

.top-box-content {}

.top-par {
    color: white;
    font-size: 32px;
}

/* Bottom Box */
.bot-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 230px;
    background-color: rgba(65, 92, 40, 0.4);
    border-radius: 32px;
    gap: 10px;
}

.bot-box-content {}

.bot-box-icons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.bot-box-para {
    color: white;
    font-size: 30px;
}

/* ================= OTHER SECTIONS ================= */
.trusted-by {
    min-width: 1440px;
    min-height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px
}
.trusted{
    color: rgba(46, 59, 104, 1);
    font-size: 48px;
    font-weight: 600;

}
.our-mission {
    min-height: 670px;
    min-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.miss-left{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 110px;
}
.miss-left-top{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.miss-eft-bot{

}
.miss-head{
    color: #415C28;
    font-weight: bold;
    font-size: 48px;
}
.miss-par{
    color: #415C28;
    font-size: 20px;
    text-align: left;
    
}
.miss-list{
    font-size: 24px;
    color: #415C28;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.book{
    list-style-image: url(../assets/book-svgrepo-com\ 1.svg);
}
.dumbel{
    list-style-image: url(../assets/dumbbell-large-minimalistic-svgrepo-com\ 1.svg);
}
.cash{
    list-style-image: url(../assets/money-bag-svgrepo-com\ 1.svg);
}
.miss-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    
}
.miss-img{
    border-radius: 32px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}
.we-offer {
    min-height: 670px;
    min-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.offer-heading{
    display: flex;
    align-items: center;
    gap: 15px;
}
.offer-head{
    
    color: #415C28;
    font-size: 64px;
    font-weight: bolder;
    text-decoration:solid;

}
.head-dec-right{
    height: 4px;
    background-color: #415C28;
    width: 125px;
}
.head-dec-left{
    height: 4px;
    background-color: #415C28;
    width: 125px;
}
.bottom-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 502px;
    width: 413px;
    background-color: rgba(46, 59, 104, 1);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);


}
.upper-card{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 40px;
    height: 402px;
    width: 413px;
    background-color: rgba(194, 208, 106, 1);
    border-radius: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    color: #415C28;

}
.offer-cards{
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}
.card-tittle{
    color: white;
    font-size: 40px;
    font-weight: bold;

}
.card-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.specialisation {
    display: flex;
    flex-direction: row;
    min-height: 680px;
    min-width: 1440px;
}
.spec-tittle{
    display: flex;
    justify-content: center;
    width: 40%;
    margin-top: 70px;
}
.spec-tittle-x{
    font-size: 64px;
    font-weight: 600;
    color: rgba(46, 59, 104, 1);
    margin-left: 40px;
}
.spec-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 10%;

}
.vertic{
    height: 110px;
    width: 5px;
    background-color: #415C28;

}
.spec-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #415C28;
    width: 40%;
    gap: 80px;
}
.spec-head{
    font-size: 42px;
    font-weight: 700;
}
.spec-par{
    font-size: 20px;
}
.history {
    min-height: 673px;
    min-width: 1440px;
    background-image: url("../assets/history.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 20px;
    border-radius: 50px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
 

}
.his-r{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}
.his-l{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    
}
.his-tittle{   
    font-size: 64px;
    font-weight: 900;
    color: #415C28;
    margin-left: 120px;

}
.his-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-left: 60px;
    margin-right: 20px;
    
    
}
.footer{
    width: 1440px;
    height: 675px;
    display: flex;
    flex-direction: row;
    color: #415C28;

}
.footer-r{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-left: 100px;
    margin-top: 70px;
}
.footer-l{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    text-align: center;
}
.our-work {
    width: 1440px;
    height: 675px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px ;
}
.our-imgs{
    display: flex;
    gap: 50px;
}

